@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Lato);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0px; }

h1,
h2,
h3,
h4,
p,
blockquote,
ol,
ul {
  margin: 0;
  padding: 0; }

main {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a,
button {
  color: inherit;
  -webkit-transition: .3s;
  transition: .3s; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  border: 0;
  height: auto; }

form {
  height: 100%; }

li {
  list-style: none; }

/* ============ TIMELINER.JS ============= */
.timeline-container {
  margin: 20px auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.timeline-toggle {
  background: rgba(23, 66, 98, 0.65);
  color: rgba(255, 255, 255, 0.85);
  border-color: #161616;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 20px;
  padding: 3px 5px;
  white-space: nowrap;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.timeline-toggle:hover {
  background: rgba(119, 0, 63, 0.8);
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }

.timeline-toggle:focus {
  outline: none; }

.timeline-wrapper {
  clear: left;
  float: left;
  margin: 0;
  width: 50%;
  border-left: 4px solid red;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.timeline-wrapper h2 {
  background: url("/images/timeline_century_tick.gif") left center no-repeat;
  font-family: Palatino, "Times New Roman", Times, serif;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 2px 2px 2px 20px; }

.timeline-wrapper h2 span {
  background: #ccc;
  border-radius: 4px;
  color: #131313;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  padding: 3px 5px 1px; }

.timeline-series {
  clear: left;
  float: left;
  margin: 0 12px 0 0;
  padding: 2px 2px 2px 0;
  position: relative;
  width: 25%; }

.timeline-series dt {
  background: url("/images/timeline_decade_tick.gif") left center no-repeat;
  clear: left;
  font-size: 1em;
  list-style-type: none;
  line-height: 1.2em;
  margin: 0 0 12px;
  padding: 0 0 0 24px;
  white-space: nowrap; }

.timeline-series dt a {
  color: #999;
  cursor: pointer; }

.timeline-series dt a .closed {
  color: #999;
  font-size: 1em;
  margin-left: 0; }

.timeline-series dt a .open {
  color: #7DBADF; }

.timeline-series dt a:hover {
  color: #7DBADF; }

.timeline-series dd {
  padding-left: 24px;
  width: 100%; }

.timeline-series dd h3 {
  color: #FFF;
  clear: both;
  float: left;
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap; }

.timeline-event-content {
  display: none; }

.timeline-event-content p {
  clear: left;
  float: left;
  line-height: 1.5em;
  margin: 6px 0 10px;
  width: 500px; }

.timeline-event-content h4 {
  clear: left;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0 0 0 20px; }

.timeline-event-content blockquote {
  border-left: 2px solid #ccc;
  clear: left;
  float: left;
  font-size: 1.8em;
  margin-left: 0;
  padding: 0 30px;
  width: 400px; }

.timeline-event-content blockquote .attribution {
  font-size: 0.7em;
  text-align: right; }

.timeline-event-content .media {
  padding: 0 0 12px;
  width: 150px; }

.timeline-event-content .media img {
  border: 2px solid #000;
  margin: 0; }

.timeline-event-content .media p {
  font-size: 1em;
  margin: 0;
  padding: 0; }

.timeline-event-content .media a:link,
.timeline-event-content .media a:visited {
  color: #ab221b; }

.timeline-event-content .media a:hover {
  color: #7DBADF; }

/*!
 * fullPage 2.7.8
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  color: white; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
  border: 3px solid yellow; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 8px;
  width: 8px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -4px 0 0 -4px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

@font-face {
  font-family: 'starwars';
  src: url("./../fonts/STARWARS.eot") format("eot"), url("./../fonts/STARWARS.woff") format("woff"), url("./../fonts/STARWARS.ttf") format("truetype"); }

.booking {
  position: fixed;
  left: 0;
  z-index: 999;
  background: rgba(23, 66, 98, 0.65);
  color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  margin-right: 20px;
  padding: 3px 5px;
  white-space: nowrap;
  margin: 4px; }

header {
  height: 100vh;
  font-size: 30px;
  background-size: cover;
  font-family: 'starwars';
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

.episode {
  font-size: smaller;
  font-stretch: extra-expanded;
  font-family: "ITC Serif Gothic", Lato;
  color: white;
  opacity: 1;
  z-index: 1;
  -webkit-animation: logo 40s ease-out;
          animation: logo 40s ease-out; }

.date {
  font-size: smaller;
  font-stretch: extra-expanded;
  font-family: "ITC Serif Gothic", Lato;
  color: white;
  margin-top: 60px; }

.starwars {
  font-size: 3em;
  color: none;
  opacity: 1;
  z-index: 1;
  -webkit-animation: logo 40s ease-out;
          animation: logo 40s ease-out; }

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  10% {
    opacity: 0.5; }
  20% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0.3; }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.2; }
  40% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes logo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  10% {
    opacity: 0.5; }
  20% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0.3; }
  30% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.2; }
  40% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.starwars:nth-child(1) {
  line-height: 0.5em; }

.starwars {
  -webkit-text-stroke: 2px yellow;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
  /* CSS3 Transition Effect */
  -webkit-transition: all 0.12s ease-out;
  /* Safari & Chrome */
  -moz-transition: all 0.12s ease-out;
  /* Firefox */
  -o-transition: all 0.12s ease-out;
  /* Opera */ }

.starwars:hover {
  /* CSS3 Transform Effect */
  -webkit-transform: scale(1.2);
  /* Safari & Chrome */
  -moz-transform: scale(1.2);
  /* Firefox */
  -o-transform: scale(1.2);
  /* Opera */ }

nav {
  position: absolute; }

.speaker-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin: 0 auto; }

.speakers {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.profile {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5%; }

.speaker {
  width: 30%;
  margin: 0 1% 1% 0; }

img {
  width: 100%; }

#slider {
  position: fixed;
  opacity: 0;
  margin-left: 300px;
  margin-right: 5px;
  margin-top: 10px;
  background-color: white;
  height: 90%;
  width: 100%;
  -webkit-transition: opacity 2s, margin-left 1s, z-index 1s;
  transition: opacity 2s, margin-left 1s, z-index 1s;
  top: 0;
  z-index: -9999;
  padding: 20px; }

#slider.open {
  opacity: 1;
  margin-left: 60px;
  z-index: 9999; }

.sponsors {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.details_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%; }

.map {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100vw;
  height: 200px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch; }

.contact {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  background-color: black;
  font-family: 'Lato';
  font-size: smaller;
  font-weight: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px; }

.contact h4 {
  color: white; }

.contact p {
  color: #EEEEEE; }

.register {
  width: 30%; }

.register p {
  font-size: 10px; }

.help {
  width: 20%; }

.email {
  width: 20%; }

.dt, .ga, .mj, .ms, .onepage {
  width: 10%;
  float: left;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-right: 20px; }

.onepage {
  color: grey;
  font-weight: bold;
  font-family: 'starwars'; }

#titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(45deg);
          transform: perspective(300px) rotateX(45deg);
  color: #ff6; }

#titles:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%; }

#titles p {
  text-align: justify;
  margin: 0.8em 0; }

#titles p.center {
  text-align: center; }

#titlecontent {
  position: absolute;
  top: 100%;
  -webkit-animation: scroll 80s linear 4s;
          animation: scroll 80s linear 4s; }

/* animation */
@-webkit-keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
@keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
